body {
  margin: 0 auto;
  position: fixed;
  overflow-y: hidden;
  width: 100%;
}

 .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { 
   padding-left: 0;
   padding-right: 0;
   width: 100%;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1.2rem;
}

.text-center {
  text-align: center;
  color: lightgreen;
  padding: 3.2rem 3.2rem;
  font-size: 3rem;
}

.col-md-4 {
  padding: 0;
  margin: 0;
  height: px;
}

.box-1, .box-3, .box-2 {
  border-top: 5px solid LightGreen;
  padding-top: 5px;
}

.footer {
  height: 50px;
  color: lightgreen;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Box-1 Box-2 Box-3" "Box-4 Box-5 Box-6" "Box-7 Box-8 Box-9";
}

{box-sizing: border-box;}




/* Login */ 

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px inset #f1f1f1;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* End Login */ 






/* Body Box Stuff */

.Box-1 { 
  grid-area: Box-1;
  text-align: center;
  color: LightGreen;
  
 }

.Box-2 { 
  grid-area: Box-2; 
}

.Box-3 { grid-area: Box-3; }

.Box-4 { grid-area: Box-4; }

.Box-5 { grid-area: Box-5; }

.Box-6 { grid-area: Box-6; }

.Box-7 { grid-area: Box-7; }

.Box-8 { grid-area: Box-8; }

.Box-9 { grid-area: Box-9; }

.Box-1, .Box-2, .Box-3 {
  border-top: 2px solid LightGreen;
  margin-top: 1px;
  height: 67.5533px;
}

.Box-4, .Box-5, .Box-6 {
  height: 67.5533px;
}

.Box-7, .Box-8, .Box-9 {
  height: 67.5533px;
}

/* End Body Box Stuff */



.sn_hi {
  color: lightgreen;
}